/* -------- adaptive styles --------- */
@media screen and (max-width: 1023px) {
  #n,
  #bl,
  #onas,
  #preim {
    display: none;
  }
  #rt {
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
  }
  #rt div {
    width: 100%;
    min-width: 0;
  }
  #obe,
  #foo {
    display: none;
  }
}
